<%= render 'shared/navbar', profile: 'profile' %>

<div class="profile-head-block">
  <% if @user = current_user %>
    <a id="edit-profile" data-toggle="modal" data-target="#editProfile">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
  <% end %>

  <div class="profile-head-info">
    <div class="profile-picture" style="background-image: url(<%= @user.profile_picture_url %>)"></div>
    <h1 class="profile-username"><%= @user.user_name %></h1>
    <% if @user.location %>
      <div class="profile-location">
        <i class="fa fa-location-arrow" aria-hidden="true"></i>
        <p><%= @user.location %></p>
      </div>
    <% end %>
  </div>
  <div class="progress-bar-block">
    <div id="progress-bar-profile"></div>
    <div class="progress-bar-data"><%= number_with_delimiter(@book.wordcount, delimiter: ' ')%> / <%= number_with_delimiter(@book.word_goal, delimiter: ' ') %> mots</div>
  </div>
  <a class="profile-follow-button" href="#">
    <i class="fa fa-plus" aria-hidden="true"></i>
  </a>
</div>

<div class="profile-statistics">
  <div class="profile-stats-item">
    <div class="profile-stats-data"><%= @book.max_streaks %></div>
    <div class="profile-stats-label">Jours d'écriture consécutifs max.</div>
  </div>
  <div class="profile-stats-item">
    <div class="profile-stats-data"><%= @book.words_per_session %></div>
    <div class="profile-stats-label">Moyenne mots par session</div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier votre profil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for (@user) do |f| %>
          <%= f.input :user_name, label: "Nom d'utilisateur" %>
          <%= f.input :location, input_html: { id: 'user-location-input' }, label: "Ville" %>
          <%= f.input :profile_picture, as: :attachinary %>
      </div>
      <div class="error" id="user-errors"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <%= f.button :submit, "Modifier", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?libraries=places&key=<%= ENV['GOOGLE_MAPS'] %>">
</script>

<% content_for(:after_js) do %>
  <%= javascript_include_tag 'progressbar' %>
  <%= javascript_include_tag 'profile_page'%>
<% end %>
