<%= render 'shared/navbar', profile: 'profile' %>

<div class="profile-head-block">
  <% if @user = current_user %>
    <div id="edit-profile">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </div>
  <% end %>

  <div class="profile-head-info">
    <div class="profile-picture" style="background-image: url(<%= @user.profile_picture_url %>)"></div>
    <h1 class="profile-username"><%= @user.user_name %></h1>
  </div>
  <div class="progress-bar-block">
    <div id="progress-bar-profile"></div>
    <div class="progress-bar-data"><%= number_with_delimiter(@book.wordcount, delimiter: ' ')%> / <%= number_with_delimiter(@book.word_goal, delimiter: ' ') %> mots</div>
  </div>
  <a class="profile-follow-button" href="#">
    <i class="fa fa-plus" aria-hidden="true"></i>
  </a>
</div>

<div class="profile-statistics">
  <div class="profile-stats-item">
    <div class="profile-stats-data"><%= @book.max_streaks %></div>
    <div class="profile-stats-label">Jours d'écriture consécutifs max.</div>
  </div>
  <div class="profile-stats-item">
    <div class="profile-stats-data"><%= @book.words_per_session %></div>
    <div class="profile-stats-label">Moyenne mots par session</div>
  </div>
</div>

<%= simple_form_for(@user) do |f| %>
  <%= f.input :user_name %>
  <%= f.input :profile_picture, as: :attachinary %>
  <%= f.submit %>
<% end %>

<% content_for(:after_js) do %>
  <%= javascript_include_tag 'progressbar' %>
  <%= javascript_include_tag 'profile_page'%>
<% end %>
