<div class="sidebar">
  <div class="sidebar-buttons">
    <a class="sidebar-item <%= "sidebar-item--active" if defined?(chapters) %>" href="<%= book_path(@book) %>">
      Chapitres
    </a>
    <a class="sidebar-item <%= "sidebar-item--active" if defined?(characters) %>" href="<%= book_characters_path(@book) %>">
      Personnages
    </a>
    <a class="sidebar-item <%= "sidebar-item--active" if defined?(places) %>" href="<%= book_places_path(@book) %>">
      Lieux
    </a>
  </div>
    <a href="<%= download_book_path(@book) %>" class="sidebar-item sidebar-cta">
        <i class="fa fa-cloud-download" aria-hidden="true"></i>
      Téléchargez votre livre
    </a>
</div>
