<div class="navbar-book-dashboard">
  <div class="navbar-book-title hidden-xs hidden-sm">
    <% if defined?(character_sheet) %>
      <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
      <a href="<%= book_characters_path(@book) %>">
        <%= "Liste des personnages" %>
      </a>
    <% else %>
      <%= @book.title %>
    <% end %>
  </div>
  <div class="navbar-book-dashboard-content">
    <ul class="navbar-book-list">
    <li class="navbar-item <%= "navbar-item--active" if defined?(dashboard) %>"><a href="<%= book_path(@book) %>">Écrire</a></li>
    <li class="navbar-item <%= "navbar-item--active" if defined?(statistics) %>""><a href="<%= book_statistics_path(@book) %>">Analyser</a></li>
    <li class="navbar-item <%= "navbar-item--active" if defined?(settings) %>"><a href="<%= book_settings_path(@book)%>">Configurer</a></li>
    </ul>
  </div>
</div>
