<div class="navbar-wagon
  <% if defined?(landing) %>
    <%= "navbar-wagon--landing" %>
  <% elsif defined?(profile) %>
    <%= "navbar-wagon--profile" %>
  <% end %>
">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    inkip.it
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

    <% if current_user.admin %>

      <div class="navbar-wagon-item underlined-anchor">
        <%= link_to admin_root_path do %>
           <%= t(".profile", default: "Admin") %>
        <% end %>
      </div>
    <% end %>

    <div class="navbar-wagon-item underlined-anchor">
      <%= link_to user_books_path(current_user), user: true do %>
         <%= t(".profile", default: "Dashboard", class: "hidden-xs") %>
      <% end %>
    </div>

    <div class="navbar-wagon-item underlined-anchor">
      <%= link_to books_path(filter: "last") do %>
         <%= t(".profile", default: "Communauté", class: "hidden-xs") %>
      <% end %>
    </div>

    <div class="navbar-wagon-item underlined-anchor">
      <%= link_to rankings_path do %>
         <%= t(".profile", default: "Classement", class: "hidden-xs") %>
      <% end %>
    </div>

    <div class="navbar-wagon-item underlined-anchor">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <%= t(".sign_out", default: "Déconnexion") %>
      <% end %>
    </div>

    <% else %>

    <div class="navbar-wagon-item underlined-anchor">
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Se connecter"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    </div>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-burger hidden-md hidden-lg">
    <div class="dropdown">
      <button class="hamburger hamburger--spin" type="button" data-toggle="dropdown">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if user_signed_in? %>
          <% if current_user.admin %>
            <li>
              <%= link_to admin_root_path do %>
                 <%= t(".profile", default: "Admin") %>
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to user_books_path(current_user) do %>
               <%= t(".profile", default: "Dashboard") %>
            <% end %>
          </li>
          <li>
            <%= link_to books_path(filter: "last") do %>
               <%= t(".profile", default: "Communauté") %>
            <% end %>
          </li>
          <li>
            <%= link_to rankings_path do %>
               <%= t(".profile", default: "Classement") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <%= t(".sign_out", default: "Déconnexion") %>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to t(".sign_in", default: "Se connecter"), new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

