<div class="navbar-wagon
  <% if defined?(landing) %>
    <%= "navbar-wagon--landing" %>
  <% elsif defined?(profile) %>
    <%= "navbar-wagon--profile" %>
  <% end %>
">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    inkip.it
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

    <% if current_user.admin %>

      <div class="navbar-wagon-item underlined-anchor">
        <%= link_to admin_root_path do %>
           <%= t(".profile", default: "Admin") %>
        <% end %>
      </div>
    <% end %>

    <div class="navbar-wagon-item underlined-anchor">
      <%= link_to user_books_path(current_user) do %>
         <%= t(".profile", default: "Mes Livres", class: "hidden-xs") %>
      <% end %>
    </div>

    <div class="navbar-wagon-item underlined-anchor">
      <%= link_to user_path(current_user) do %>
         <%= t(".profile", default: "Mon Profil", class: "hidden-xs") %>
      <% end %>
    </div>

    <div class="navbar-wagon-item underlined-anchor">
      <%= link_to rankings_path do %>
         <%= t(".profile", default: "Classement", class: "hidden-xs") %>
      <% end %>
    </div>

    <div class="navbar-wagon-item underlined-anchor">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <%= t(".sign_out", default: "Déconnexion") %>
      <% end %>
    </div>

      <!-- Avatar with dropdown menu -->
  <!--      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "https://vignette.wikia.nocookie.net/oddworld/images/1/14/Abe_Bio.jpg/revision/latest?cb=20151207223655", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <div class="avatar dropdown-toggle avatar-letter" id="navbar-wagon-menu" data-toggle="dropdown"><%= current_user.email[0] %></div>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
             <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profil") %>
              <% end %>
            </li> -->
<!--             <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Déconnexion") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>-->
    <% else %>
    <div class="navbar-wagon-item underlined-anchor">
      <%= link_to rankings_path do %>
         <%= t(".profile", default: "Classement", class: "hidden-xs") %>
      <% end %>
    </div>
    <div class="navbar-wagon-item underlined-anchor">
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Se connecter"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    </div>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-burger hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if user_signed_in? %>
          <% if current_user.admin %>
            <li>
              <%= link_to admin_root_path do %>
                 <%= t(".profile", default: "Admin") %>
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to user_books_path(current_user) do %>
               <%= t(".profile", default: "Mes livres") %>
            <% end %>
          </li>
          <li>
            <%= link_to user_path(current_user) do %>
              <%= t(".profile", default: "Profil") %>
            <% end %>
          </li>
          <li>
            <%= link_to rankings_path do %>
               <%= t(".profile", default: "Classement") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <%= t(".sign_out", default: "Déconnexion") %>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to rankings_path do %>
               <%= t(".profile", default: "Classement") %>
            <% end %>
          </li>
          <li>
            <%= link_to t(".sign_in", default: "Se connecter"), new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

