<div class="banner-landing">
  <%= render 'shared/navbar', landing: 'landing' %>
  <div class="content-banner-landing">
    <div class="landing-title-container">
      <div class="landing-brand">inkipit.</div>
      <h1 class="landing-title">Racontez des histoires.
        <!-- <span class="typer" id="main" data-words="histoires,aventures,épopées,péripéties,intrigues" data-colors="white" data-delay="100" data-deleteDelay="1000"></span><span class="cursor" data-owner="main"></span> -->
      </h1>
      <div class="landing-subtitle">Finissez enfin votre roman.</div>
      <a class="cta landing-cta" href="<%= new_user_registration_path %>">
        Commencer maintenant
      </a>
    </div>
  </div>
</div>
<div class="landing-section">
  <%= image_tag 'screenshot_writing.png', class: "screenshot" %>
  <div class="value-proposition-block">
    <h2 class="value-proposition-headline">Ecrivez sans distraction.</h2>
    <p class="value-proposition-text">Assez de ces distractions inutiles qui polluent votre concentration ? Profitez d'une interface dégagée et claire qui vous suivra jusqu'à la dernière ligne de votre roman.</p>
    <a class="cta landing-cta" href="<%= new_user_registration_path %>">
      Commencer maintenant
    </a>
  </div>
</div>
<div class="landing-section">
  <div class="value-proposition-block value-proposition-block--left">
    <h2 class="value-proposition-headline">Fixez-vous des objectifs (et tenez-les).</h2>
    <p class="value-proposition-text">Donnez-vous un objectif de mots à atteindre et incitez-vous à écrire chaque jour. Suivez vos performances au quotidien et comparez-vous aux autres auteurs.</p>
    <a class="cta landing-cta" href="<%= new_user_registration_path %>">
      Commencer maintenant
    </a>
  </div>
  <%= image_tag 'screenshot_data.png', class: "screenshot screenshot--right" %>
  <div class="value-proposition-block hidden-md hidden-lg">
    <h2 class="value-proposition-headline">Fixez-vous des objectifs (et tenez-les).</h2>
    <p class="value-proposition-text">Donnez-vous un objectif de mots à atteindre et incitez-vous à écrire chaque jour. Suivez vos performances au quotidien et comparez-vous aux autres auteurs.</p>
    <a class="cta landing-cta" href="<%= new_user_registration_path %>">
      Commencer maintenant
    </a>
  </div>
</div>
<div class="landing-section">
  <%= image_tag 'screenshot_organize.png', class: "screenshot" %>
  <div class="value-proposition-block">
    <h2 class="value-proposition-headline">Construisez votre univers</h2>
    <p class="available-soon">Bientôt disponible!</p>
    <p class="value-proposition-text">Organisez votre imaginaire avec des fiches détaillées sur les personnages et les lieux que vous utilisez pour votre récit.</p>
    <a class="cta landing-cta" href="<%= new_user_registration_path %>">
      Commencer maintenant
    </a>
  </div>
</div>
<div class="landing-footer underlined-anchor"><a href="http://simonguillor.it" target="_blank">simonguillor.it</a></div>


<!-- https://github.com/jlmakes/scrollreveal -->

<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

<% content_for(:after_js) do %>
  <%= javascript_include_tag 'typer.js' %>
  <%= javascript_include_tag 'landing'%>
<% end %>
