<div class="banner-landing">
  <%= render 'shared/navbar', landing: 'landing' %>
  <div class="content-banner-landing">
    <div class="landing-title-container">
      <div class="landing-brand">inkip.it</div>
      <h2 class="landing-title" id="typer">Racontez des
      </h2>
      <h1 class="landing-subtitle">Finissez enfin votre roman.</h1>
      <a class="cta landing-cta" href="<%= new_user_registration_path %>">
        Commencer maintenant
      </a>
    </div>
  </div>
</div>
<div class="landing-section landing-section--data">
  <ul class="landing-data-section">
    <li class="revealed-data">
      <i class="fa fa-space-shuttle" aria-hidden="true"></i>
      <div class="data-landing">81%</div>
      <p>des membres ont complété leur roman en moins d'un mois</p>
    </li>
    <li class="revealed-data">
      <i class="fas fa-chart-line" aria-hidden="true"></i>
      <div class="data-landing">2/3</div>
      <p>des membres écrivent chaque jour de la semaine</p>
    </li>
    <li class="revealed-data">
      <i class="fa fa-trophy" aria-hidden="true"></i>
      <div class="data-landing">1/3</div>
      <p>des membres écrit plus de 1000 mots par jour</p>
    </li>
  </ul>
</div>
<div class="landing-section">
  <%= image_tag 'screenshot_writing.png', class: "screenshot" %>
  <div class="value-proposition-block">
    <h2 class="value-proposition-headline">Ecrivez sans distraction.</h2>
    <p class="value-proposition-text">Assez de ces distractions inutiles qui polluent votre concentration ? Profitez d'une interface dégagée et claire qui vous suivra jusqu'à la dernière ligne de votre roman.</p>
    <a class="cta landing-cta" href="<%= new_user_registration_path %>">
      Commencer maintenant
    </a>
  </div>
</div>
<div class="landing-section">
  <div class="value-proposition-block value-proposition-block--left">
    <h2 class="value-proposition-headline">Fixez-vous des objectifs (et tenez-les).</h2>
    <p class="value-proposition-text">Donnez-vous un objectif de mots à atteindre et incitez-vous à écrire chaque jour. Suivez vos performances au quotidien et comparez-vous aux autres auteurs.</p>
    <a class="cta landing-cta" href="<%= new_user_registration_path %>">
      Commencer maintenant
    </a>
  </div>
  <%= image_tag 'screenshot_data.png', class: "screenshot screenshot--right" %>
  <div class="value-proposition-block hidden-md hidden-lg">
    <h2 class="value-proposition-headline">Fixez-vous des objectifs (et tenez-les).</h2>
    <p class="value-proposition-text">Donnez-vous un objectif de mots à atteindre et incitez-vous à écrire chaque jour. Suivez vos performances au quotidien et comparez-vous aux autres auteurs.</p>
    <a class="cta landing-cta" href="<%= new_user_registration_path %>">
      Commencer maintenant
    </a>
  </div>
</div>
<div class="landing-section">
  <%= image_tag 'screenshot_organize.png', class: "screenshot" %>
  <div class="value-proposition-block">
    <h2 class="value-proposition-headline">Construisez votre univers</h2>
    <p class="value-proposition-text">Organisez votre imaginaire avec des fiches détaillées sur les personnages et les lieux que vous utilisez pour votre récit.</p>
    <a class="cta landing-cta" href="<%= new_user_registration_path %>">
      Commencer maintenant
    </a>
  </div>
</div>

<!-- <div class="landing-section landing-testimonials">

</div> -->

<div class="landing-section landing-section--about">
  <div class="contact-us-block">
    <h2>Une question ? Une suggestion ?</h2>
    <p>Envoyez-moi un mail à <a href="mailto:simon@inkip.it">simon@inkip.it</a></p>
    <div class="social-buttons">
      <a href="https://www.instagram.com/inkip.it/" rel="noopener" target='_blank'><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/inkipit-348727005595633/" rel="noopener" target='_blank'><i class="fab fa-facebook" aria-hidden="true"></i></a>
      <a href="https://twitter.com/inkip_it" rel="noopener" target='_blank'><i class="fab fa-twitter" aria-hidden="true"></i></a>
    </div>
  </div>
</div>

<!-- FOOTER -->
<%= render 'shared/footer' %>


<!-- https://github.com/jlmakes/scrollreveal -->

<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

<% content_for(:after_js) do %>
  <%= javascript_include_tag 'landing'%>
<% end %>
