<%= render 'shared/navbar' %>

<%= render "books/navbar_dashboard_community" %>

<div class="wrapper">

  <%= render "users/sidebar_rankings" %>

  <div class="content-dashboard content-dashboard--rankings" id="ranking-list">
    <%= render "pages/ranking_list" %>

  </div>

</div>

<% content_for(:after_js) do %>
  <%= javascript_include_tag 'rankings'%>
<% end %>
