<%= render 'shared/navbar' %>


Les 10 records de mots écrits par session

<ul>
  <% @best_authors_max.each do |author| %>
    <li><%= author[0].registered_name %> : <%= author[1] %> mots</li>
  <% end %>
</ul>

<!-- Les 10 meilleures moyennes de mots par session

<ul>
  <% @best_authors_mean.each do |author| %>
    <li><%= author[0].registered_name %> : <%= author[1] %> mots</li>
  <% end %>
</ul> -->
