<% if @user_library %>
  <!-- User own space -->

  <%= render "books/navbar_dashboard_profile" %>

  <div class="wrapper">

    <%= render "books/sidebar_dashboard" %>

    <div class="content-dashboard content-dashboard--full" id="your-books">
      <%= render "shared/cards" %>
    </div>

    <div class="content-dashboard content-dashboard--full hidden" id="your-published-books">
      <%= render "books/card_published_books", books: @books_published %>
      <% @books_published.each do |book| %>
        <%= render "chapters/modal_published_chapters", book: book %>
      <% end %>
    </div>

  </div>

<% else %>
  <!-- Community books -->

  <%= render "books/navbar_dashboard_community" %>

  <div class="wrapper">

    <%= render "books/sidebar_community" %>

    <div class="content-dashboard content-dashboard--full" id="all-published-books">
      <%= render "books/card_published_books", books: @books %>
      <% @books.each do |book| %>
        <%= render "chapters/modal_published_chapters", book: book %>
      <% end %>
    </div>

<% end %>

<%= render "books/modal_new_book" %>
