<% if @user_library %>
  <!-- User own space -->

  <%= render "books/navbar_dashboard_profile" %>

  <div class="wrapper">

    <%= render "books/sidebar_dashboard" %>

    <div class="content-dashboard content-dashboard--full" id="your-books">
      <%= render "shared/cards" %>
    </div>

    <div class="content-dashboard content-dashboard--full hidden" id="your-published-books">
      <% if @user.has_published? %>
        <%= render "books/card_published_books", books: @books_published %>
      <% else %>
        <p style="text-align: justify">Pour publier un livre, allez dans le chapitre que vous désirez publier et cliquez sur "Publier" (vous devez d'abord créer un livre). </p>
      <% end %>
    </div>

    <div id="modal-container"></div>

  </div>

  <%= render "books/modal_new_book" %>

<% else %>
  <!-- Community books -->

  <%= render "books/navbar_dashboard_community" %>

  <div class="wrapper">

    <%= render "books/sidebar_community" %>

    <% if @books %>

      <div class="content-dashboard content-dashboard--full" id="all-published-books">
          <%= render "books/card_published_books", books: @books %>
          <div id="loader-container" class="hidden">
            <div class="loader" id="loader-1"></div>
          </div>
          <%= render "shared/pagination", filter: @filter %>
      </div>

      <div id="modal-container"></div>

    <% else %>
      <p class="no-book-disclaimer">Pas de livre pour le moment...</p>
    <% end %>

<% end %>


