<%= render 'shared/navbar_dashboard', settings: 'settings' %>

<div class="content-dashboard content-dashboard--settings">
  <div class="container__settings">
    <div class="settings__edit-book">
      <h2 class="text-center">Modifier le livre</h3>
      <%= simple_form_for (@book) do |f| %>
        <%= f.input :title, label: "Titre" %>
        <%= f.input :word_goal, label: "Objectif de mots" %>
        <%= f.button :submit, "Enregistrer" %>
      <% end %>
    </div>
    <a class="delete-book-button" data-toggle="modal" href="#confirmationDeleteBookModal" data-target="#confirmationDeleteBookModal" id="delete-book-btn">Effacer ce livre</a>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmationDeleteBookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Etes-vous certain de vouloir effacer <bold><%= @book.title %></bold> ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= link_to 'Oui, je veux effacer ce livre', book_path(@book), method: :delete %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
