<%= render "books/book_dashboard_navbar" %>

<div class="wrapper">
  <div class="sidebar">
    <div class="sidebar-buttons">
      <a class="sidebar-item sidebar-item--active" href="#">
        <!-- <i class="fa fa-paragraph" aria-hidden="true"></i> -->
        Chapitres
      </a>
      <a class="sidebar-item" href="#">Personnages</a>
      <a class="sidebar-item" href="#">Lieux</a>
    </div>
  </div>
  <div class="content-dashboard">
    <%= render "chapters/cards.html.erb" %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newChapter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter un nouveau chapitre</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@book, @chapter] do |f| %>
          <%= f.input :title, label: 'Titre' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <%= f.button :submit, "Ajouter un chapitre", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- <h1> <%= @book.title %> </h1>
<h2>Chapitres</h2>
<ul>
  <% @book.chapters.each_with_index do |chapter, i| %>
    <li><a href="<%= book_chapter_path(@book, chapter) %>">Chapter <%= i + 1 %> : <%= chapter.title %></a></li>
  <% end %>
</ul>
<h3>Ajouter un chapitre à ce livre</h3>
<%= simple_form_for [@book, @chapter] do |f| %>
  <%= f.input :title %>
  <%= f.submit %>
<% end %>

<h2>Personnages</h2>

<ul>
  <% @book.characters.each do |character| %>
    <li><%= character.name %></li>
  <% end %>
</ul>
<h3>Ajouter un personnage à ce livre</h3>
<%= simple_form_for [@book, @character] do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.submit %>
<% end %>

<h2>Lieux</h2>

<ul>
  <% @book.places.each do |place| %>
    <li><%= place.name %></li>
  <% end %>
</ul>

<h3>Ajouter un lieu à ce livre</h3>
<%= simple_form_for [@book, @place] do |f| %>
  <%= f.input :name %>
  <%= f.submit %>
<% end %>

<h2>Analytics</h2>
<ul>
<li>Caractères: <%= @book.signs %></li>
<li>Mots : <%= @book.wordcount %> en <%= @book.age_in_days %> jours</li>
<li>Moyenne de mots par jour: <%= @book.age_in_days > 0 ? @book.average_daily_wordcount : 0 %></li>
</ul>
 -->
