<!-- NAVBAR -->

<div class="navbar-book-dashboard">
  <% if defined? subsection != nil %>
    <div class="navbar-back">
      <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
      <%= link_to "Retour au livre", book_path(@book), class: "navbar-back-link" %>
    </div>
  <% end %>
  <div class="navbar-book-dashboard-content">
    <ul class="navbar-book-list">
    <li class="navbar-item"><a href="<%= book_path(@book) %>">Ecrire</a></li>
    <li class="navbar-item navbar-item--active"><a href="">Analyser</a></li>
    <li class="navbar-item"><a href="#">Configurer</a></li>
    </ul>
  </div>
</div>

<!-- WRAPPER -->

<div class="wrapper">

  <div class="content-dashboard content-dashboard--statistics statistics-grid">

  <div class="sidebar--statistics">
    <div class="sidebar-block wordcount-goal">
      <h2><%= @book.wordcount %> mots</h2>
      <p>depuis le <%= @book.created_at.strftime('%d/%m/%Y') %></p>
      <canvas id="wordCountGoal"></canvas>
    </div>
    <div class="sidebar-block">
      <div class="sidebar-block-data">
        <%= @book.chapters.count %>
      </div>
      <div class="sidebar-block-label">
        Chapitres
      </div>
      <div class="sidebar-block-sidenote">
        <%= @words_per_chapter %> mots en moyenne par chapitre
      </div>
    </div>
    <div class="sidebar-block">
      <div class="sidebar-block-data">
        <%= @book.characters.count %>
      </div>
      <div class="sidebar-block-label">
        Personnages
      </div>
    </div>
    <div class="sidebar-block">
      <div class="sidebar-block-data">
        <%= @book.places.count %>
      </div>
      <div class="sidebar-block-label">
        Lieux
      </div>
    </div>
  </div>

  <!-- CONTENT -->
    <div class="content-chart content-chart--up">
      <canvas id="wordCounts"></canvas>
    </div>
    <div class="content-chart content-chart--down content-chart--down-1">
      <div class="streaks">
        <div class="streaks-current">
          <div class="streaks-data">
            <i class="fa fa-fire" id="fire-streaks-current" aria-hidden="true"></i>
            <%= @book.current_streaks %>
            </div>
          <div class="streaks-text">Actuellement</div>
        </div>
        <div class="streaks-max">
          <div class="streaks-data">
            <i class="fa fa-fire" id="fire-streaks-max" aria-hidden="true"></i>
            <%= @book.max_streaks %>
            </div>
          <div class="streaks-text">Votre record</div>
        </div>
      </div>
      <div class="content-chart-label">Jours d'écriture consécutifs</div>
    </div>
    <div class="content-chart content-chart--down content-chart--down-2">
      <div class="content-chart-data"><%= @words_per_session %></div>
      <div class="content-chart-label">Mots écrits par jour en moyenne</div>
      <div class="content-chart-data">745</div>
      <div class="content-chart-label">Moyenne des autres auteurs</div>
    </div>
    <div class="content-chart content-chart--down content-chart--down-3">
      <div id="cal-heatmap"></div>
      <div class="content-chart-label">Calendrier de vos contributions</div>
    </div>
  </div>

</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>

<% content_for(:after_js) do %>
  <%= javascript_include_tag 'statistics_manifest'%>
<% end %>
