<!-- NAVBAR -->
<div class="navbar-book-dashboard">
  <% if defined? subsection != nil %>
    <div class="navbar-back">
      <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
      <%= link_to "Retour au livre", book_path(@book), class: "navbar-back-link" %>
    </div>
  <% end %>
  <div class="navbar-book-dashboard-content">
    <ul class="navbar-book-list">
    <li class="navbar-item"><a href="<%= book_path(@book) %>">Ecrire</a></li>
    <li class="navbar-item navbar-item--active"><a href="">Analyser</a></li>
    <li class="navbar-item"><a href="#">Configurer</a></li>
    </ul>
  </div>
</div>

<!-- CONTENT -->

<div class="wrapper">
  <div class="sidebar sidebar--statistics">
    <div class="sidebar-block">
      <canvas id="wordCountGoal"></canvas>
    </div>
    <ul>
      <li>nombre de mots / objectif (pie ?)</li>
      <li>comparaison de nombre de mots écrits ce mois par rapport aux autres membres</li>
    </ul>
    <div class="sidebar-block">
      <div class="streaks-title">Jours d'écriture consécutifs</div>
      <div class="streaks">
        <div class="streaks-current">
          <div class="streaks-data">
            <i class="fa fa-fire" id="fire-streaks-current" aria-hidden="true"></i>
            <%= @book.current_streaks %>
            </div>
          <div class="streaks-text">Actuellement</div>
        </div>
        <div class="streaks-max">
          <div class="streaks-data">
            <i class="fa fa-fire" id="fire-streaks-max" aria-hidden="true"></i>
            <%= @book.max_streaks %>
            </div>
          <div class="streaks-text">Votre record</div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-dashboard content-dashboard--statistics">
    <div class="content-chart">
      <canvas id="wordCounts"></canvas>
    </div>
    <div class="content-chart">
      <div id="cal-heatmap"></div>
    </div>
  </div>

</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>

<script>

  var ctxWordCounts = document.getElementById("wordCounts").getContext('2d');

  var ctxWordCountGoal = document.getElementById("wordCountGoal").getContext('2d');
  // var progress = document.getElementById('animationProgress');

  var wordCountsChart = new Chart(ctxWordCounts, {
      type: 'bar',
      data: {
          labels: <%= raw @dwc_dates.as_json %>,
          datasets: [{
              label: 'Mots écrits par jour',
              data: <%= raw @dwc_values.as_json %>,
              backgroundColor: 'rgba(255, 99, 132, 0.2)',
              borderColor: 'rgba(255,99,132,1)',
              borderWidth: 1
          }, {
            label: 'Cumul du nombre de mots',
            data: <%= raw @dwc_total_values.as_json %>,
            type: 'line'
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }],
              xAxes: [{
                              time: {
                                  unit: 'day'
                              }
                          }]
          },
          maintainAspectRatio: false,
          // animation: {
          //                     duration: 2000,
          //                     onProgress: function(animation) {
          //                         progress.value = animation.currentStep / animation.numSteps;
          //                     },
          //                     onComplete: function(animation) {
          //                         window.setTimeout(function() {
          //                             progress.value = 0;
          //                         }, 2000);
          //                     }
          //                 }
      }
  });

  var wordCountGoalChart = new Chart(ctxWordCountGoal, {
      type: 'doughnut',
      data: {
          labels: ['Mots écrits', 'Mots pas écrits'],
          datasets : [{
            data: [<%= @book.wordcount %>, <%= @book.word_goal - @book.wordcount %>],
            backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(188, 99, 132, 0.2)'
            ]
          }]
      },
      options: {
          maintainAspectRatio: false,
      }
  });

  var cal = new CalHeatMap();
  cal.init({
    domain: 'month',
    subdomain: 'day',
    cellSize: 15,
    cellRadius: 0,
    domainGutter: 12,
    tooltip: true,

  });
</script>
