<!-- NAVBAR -->

<%= render 'shared/navbar_dashboard', statistics: 'statistics' %>

<!-- WRAPPER -->

<div class="wrapper">

  <div class="content-dashboard content-dashboard--statistics statistics-grid">

  <div class="sidebar--statistics">
    <div class="sidebar-block wordcount-goal">
      <h2><%= number_with_delimiter(@book.wordcount, delimiter: ' ') %> mots</h2>
      <p>soit <%= number_with_delimiter(@book.signs, delimiter: ' ') %> caractères</p>
      <p>depuis le <%= @book.created_at.strftime('%d/%m/%Y') %></p>
      <% unless @book.word_goal_ratio >= 1 %>
        <canvas id="wordCountGoal"></canvas>
      <% else %>
        <h3 class="gradient-congratulations-text">Objectif atteint !</h3>
        <%= image_tag 'mind_blown.gif', class: "gif" %>
        <div class="underlined-anchor">
          <a class="congratulations-modify-wordcount" href="<%= book_settings_path(@book) %>">Modifier votre objectif de mot ?</a>
        </div>
      <% end %>
    </div>
    <div class="sidebar-footer">
      <div class="sidebar-block">
        <div class="sidebar-block-data">
          <%= @book.chapters.count %>
        </div>
        <div class="sidebar-block-label">
          Chapitres
        </div>
        <div class="sidebar-block-sidenote">
          <%= @words_per_chapter %> mots en moyenne par chapitre
        </div>
      </div>
      <div class="sidebar-horizontal-block hidden-xl-up">
        <div class="sidebar-block">
          <div class="sidebar-block-data">
            <%= @book.characters.count %>
          </div>
          <div class="sidebar-block-label">
            Personnages
          </div>
        </div>
        <div class="sidebar-block">
          <div class="sidebar-block-data">
            <%= @book.places.count %>
          </div>
          <div class="sidebar-block-label">
            Lieux
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- CONTENT -->
    <div class="content-chart content-chart--up">
      <canvas id="wordCounts"></canvas>
    </div>
    <div class="content-chart content-chart--down content-chart--down-1">
      <div class="streaks">
        <div class="streaks-current">
          <div class="streaks-data">
            <div class="icon-circle icon-circle--streak-gold">
              <i class="fa fa-diamond" id="fire-streaks-current" aria-hidden="true"></i>
            </div>
            <%= @book.current_streaks %>
            </div>
          <div class="streaks-text">Actuellement</div>
        </div>
        <div class="streaks-max">
          <div class="streaks-data">
            <div class="icon-circle icon-circle--streak-current">
              <i class="fa fa-diamond" id="fire-streaks-max" aria-hidden="true"></i>
            </div>
            <%= @book.max_streaks %>
            </div>
          <div class="streaks-text">Votre record</div>
        </div>
      </div>
      <div class="content-chart-label">Jours d'écriture consécutifs</div>
    </div>
    <div class="content-chart content-chart--down content-chart--down-2">
      <div class="content-chart-data"><%= @words_per_session %></div>
      <div class="content-chart-label">Mots écrits par jour en moyenne</div>
      <div class="content-chart-data"><%= @global_words_per_session %></div>
      <div class="content-chart-label">Moyenne des autres auteurs</div>
    </div>
    <div class="content-chart content-chart--down content-chart--down-3">
      <div id="cal-heatmap"></div>
      <div class="content-chart-label hidden-sm hidden-md">Calendrier de vos contributions</div>
    </div>
  </div>

</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>

<% content_for(:after_js) do %>
  <%= javascript_include_tag 'statistics_manifest'%>
<% end %>
