<%= render "books/book_dashboard_navbar", subsection: true %>

<div class="wrapper">
  <div class="sidebar">
    Infos sur le chapitre
    <ul>
      <li><%= @chapter.wordcount %> mots</li>
      <li><%= @chapter.signs %> caractères</li>
    </ul>
    Next steps :
    <ul>
      <li>Mettre cette sidebar en sticky</li>
      <li>Mettre le scroll sur la page et enlever la height fixe sur le textarea</li>
      <li>revoir le compteur de mots (il déconne)</li>
      <li>pour analytics créé une mosaïque de contrib alla github</li>
    </ul>
  </div>
  <div class="content-dashboard">
    <div class="content-writing">
      <div class="content-writing-title"><%= @chapter.title %></div>
      <div class="content-writing-text">
        <%= simple_form_for [@chapter.book, @chapter] do |f| %>
          <%= f.input :content, label: false, input_html: { class: 'content-writing-text-field editable' } %>
      </div>
          <%= f.button :submit, "Enregistrer" %>
        <% end %>
    </div>
  </div>
</div>

<!-- https://github.com/yabwe/medium-editor -->
<script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">




<!--<h3>Présents dans ce chapitre :</h3>
<ul>
  <% @chapter.appearances.each do |appearance| %>
    <li><%= appearance.place.name %> : <%= appearance.character.name %></li>
  <% end %>
</ul>

<h3>Associer des personnages à ce chapitre</h3>
<%= simple_form_for [@chapter.book, @chapter, @appearance] do |f| %>
  <%= f.input :character, collection: @chapter.book.characters %>
  <%= f.input :place, collection: @chapter.book.places %>
  <%= f.submit %>
<% end %> -->
