<div class="wrapper wrapper--white">

  <div class="content-dashboard content-dashboard--writing">
    <div class="content-writing">
        <%= simple_form_for [@chapter.book, @chapter], remote: true, html: { class: "form-writing", id: "form"} do |f| %>
        <%= f.input :title, label: false, input_html: { class: 'content-writing-title', type: "text-area" }, placeholder: 'Titre du chapitre' %>
      <div class="content-writing-text">
          <%= f.input :content, label: false, input_html: { class: 'content-writing-text-field editable' } %>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <% end %>
      </div>
    </div>
  </div>
</div>

<div class="bottom-bar">
  <div class="bottom-bar-container">
<!--     <div class="bottom-bar-hidden"><%= @book.wordcount %> / <%= @book.word_goal %></div> -->
    <div class="bottom-bar-shown">
      <div class="bottom-bar__go-back">
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
          <%= link_to "Retour au livre", book_path(@book), class: "bottom-bar__back-to-book" %>
      </div>
      <% unless @book.word_goal.nil? %>
<!--         <div class="bottom-bar__progress-bar
        <% if @book.wordcount > @book.word_goal %>
        progress-bar--completed">
            <p>Bravo, votre objectif de <%= @book.word_goal %> mots est atteint !</p>
          <% else %>">

            <div id="progress-bar-book"></div>
          <% end %>
        </div> -->
      <% end %>
      <div class="bottom-bar__save-status">
        <div class="saving-status saving-status--saved">Enregistré !</div>
      </div>
    </div>
  </div>

</div>

<!-- https://github.com/yabwe/medium-editor -->

<script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

<% content_for(:after_js) do %>
  <%= javascript_include_tag 'writing_manifest'%>
<% end %>
