<%= render "books/book_dashboard_navbar", subsection: true %>

<div class="wrapper">
  <div class="sidebar">
    Infos
  </div>
  <div class="content-dashboard">
    <div class="content-writing">
      <div class="content-writing-title"><%= @chapter.title %></div>
      <div class="content-writing-text">
        <%= simple_form_for [@chapter.book, @chapter] do |f| %>
          <%= f.input :content, label: false, input_html: { class: 'content-writing-text-field' } %>
      </div>
          <%= f.button :submit, "Enregistrer" %>
        <% end %>
    </div>
  </div>
</div>

<!-- <h1><%= @chapter.title %></h1>

<p><%= @chapter.content %></p>
<h3>Ajouter un chapitre à ce livre</h3>
<%= simple_form_for [@chapter.book, @chapter] do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.submit %>
<% end %>


<h3>Présents dans ce chapitre :</h3>
<ul>
  <% @chapter.appearances.each do |appearance| %>
    <li><%= appearance.place.name %> : <%= appearance.character.name %></li>
  <% end %>
</ul>

<h3>Associer des personnages à ce chapitre</h3>
<%= simple_form_for [@chapter.book, @chapter, @appearance] do |f| %>
  <%= f.input :character, collection: @chapter.book.characters %>
  <%= f.input :place, collection: @chapter.book.places %>
  <%= f.submit %>
<% end %> -->
