<%= render "books/book_dashboard_navbar" %>

<div class="wrapper">
  <div class="sidebar">
    <div class="sidebar-buttons">
      <%= link_to "Chapitres", book_path(@book), class: "sidebar-item" %>
      <%= link_to "Personnages", book_characters_path(@book), class: "sidebar-item" %>
      <a class="sidebar-item sidebar-item--active" href="">
        <!-- <i class="fa fa-paragraph" aria-hidden="true"></i> -->
        Lieux
      </a>
    </div>
  </div>
  <div class="content-dashboard">
    <%= render "places/cards.html.erb" %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newPlace" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter un nouveau lieu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@book, @place] do |f| %>
          <%= f.input :name, label: 'Nom' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <%= f.button :submit, "Ajouter ce lieu", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
