<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>inkip.it | Finissez enfin votre roman</title>
    <meta name="description" content="Un outil fun pour terminer votre roman plus rapidement">
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag 'open-book.png' %>

    <% if params[:action] == "statistics" %>
      <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
    <% end %>
    <link rel="stylesheet" href="https://unpkg.com/typer-js/typer.css">
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1944922705757901'); // Insert your pixel ID here.
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1944922705757901&ev=PageView&noscript=1"
    /></noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->
  </head>
  <body>
    <% unless controller_name == "pages" || controller_name == "users" %>
      <%= render 'shared/navbar' %>
    <% end %>

    <%= render 'shared/flashes' %>

    <%= yield %>

    <% if params[:action] == "statistics" %>

      <script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
      <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />

    <% end %>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56832869-8"></script>

    <%= javascript_include_tag 'application' %>

    <%= cloudinary_js_config %>

    <% if controller_name == "pages" %>
      <script src="https://unpkg.com/typer-js"></script>
    <% end %>

    <%= yield(:after_js) %>
  </body>
</html>
